.photo {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    page-break-inside: avoid;
    padding: 20px 10px;
    border-radius: 5px;

    img {
        max-width: 280px;
        width: 100%;
        margin-bottom: 20px;
    }

    .photo__user {
        font-size: 1.5em;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .photo__tags {
        font-size: 0.7em;
        color: $grey;
    }

    &:hover {
        filter: brightness(50%);
    }
}
